<div id="heading-nav" class="aligner">
    <nav id="nav-container">
    <div id="nav-brand">
        <a href="/">
        <img id="brand-logo" loading="lazy" alt="Site logo" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/237/surfer_1f3c4.png">
        <span id="brand-text">Jarred Vardy</span>
        </a>
    </div>
    <ul id="nav-items">
        <li class="nav-item"><a href="#">Contact</a></li>
        <li class="nav-item"><a href="#">Portfolio</a></li>
        <li class="nav-item"><a href="#">Blog</a></li>
    </ul>
    </nav>
</div>