{% extends "types/homepage.njk" %}

{% block pageContents %}
<div id="jumbotron" class="section">
    <div id="jumbotron-message" class="jumbotron-item">
    <h1>Looking for work</h1>
    <p>
        I work full-stack, however my favourite place to be is in the backend.
        I prioritise cleanliness, security, speed, and aesthetics to create 
        extensible, legible, working code.
    </p>
    <a href="https://github.com/vardy/">
        <img id="shield-github" alt="GitHub Link" src="https://img.shields.io/github/followers/vardy?label=Github&logo=github&logoColor=white&style=flat-square">
    </a>
    </div>
    <div id="pfp-container" class="jumbotron-item">
    <div id="pfp-box">
        <img id="pfp" alt="Myself, eating a carrot" src="https://cdn.vardy.dev/f/2yJ3E4.jpeg">
        <h2>Hi, I'm Jarred</h2>
        <p id="pfp-flavour">
        Marine scientist, activist, programmer, and garden hose specialist.
        </p>
    </div>
    </div>
</div>

<div id="portfolio-section" class="section">
    <h2>Latest Posts</h2>
    {% for post in latestPosts %}
        <a href={{ "/blog/" + post.slug }}>
            <div class="portfolio-item">
                <img class="portfolio-item-icon" src={{ "" + post.icon }}>
                <h3>{{ post.title }} | {{ post.date }}</h3>
            </div>
        </a>
    {% endfor %}
</div>

<div class="section">
    <h2>Portfolio</h2>
    {% include "components/lipsumP1.njk" %}
</div>
<div class="section">
    <h2>Events</h2>

    <button onclick="newAuthor()">Click here!!</button>
    <ul id="authors"></ul>

    <ul id="events"></ul>
</div>
<div class="section">
    <h2>Authors</h2>
    {% include "components/lipsumP5.njk" %}
</div>
<div class="section">
    <p>Some centered text for some reason</p>
</div>

<!-- Scripts -->

<!-- 
    Author script
-->
<script src="/assets/test.js"></script>

<!-- Adjust portfolio item style -->
<script>
    let folioItems = document.getElementsByClassName("portfolio-item");
    folioItems[folioItems.length - 1].classList.add("no-border");
</script>

<!--
    Event listener
-->
<script>
    let source = new EventSource('/update-stream');

    let eventList = document.getElementById("events");

    source.addEventListener('message', function(event) {
        console.log(event);
        let item = document.createElement("li");
        let text = document.createElement("span");
        text.innerHTML = `${event.lastEventId}: ${event.data}`
        item.appendChild(text);
        eventList.appendChild(item);
    }, false);
</script>

{% endblock %}