{% extends "types/primary.njk" %}

{% block head %}

{% endblock %}

{% block body %}
    {% include "components/nav.njk" %}
    <div class="container">
        {% block pageContents %}{% endblock %}
    </div>

    <script src="/assets/navbar.js"></script>
{% endblock %}