{% extends "types/primary.njk" %}

{% block head %}
    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>
{% endblock %}

{% block body %}
    {% include "components/nav.njk" %}
    <div class="container">
        <ul id="breadcrumbs">
            <li class="breadcrumb-active"><a href="/">Home</a></li>
            <li class="breadcrumb-active"><a href="/blog">Blog</a></li>
            <li class="breadcrumb-inactive">{{ post.title }}</li>
        </ul>

        {% block postContent %}{% endblock %}
    </div>

    <script src="/assets/navbar.js"></script>
{% endblock %}