{% extends "types/primary.njk" %}

{% block head %}
    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/highlight.min.js"></script>
{% endblock %}

{% block body %}
    {% include "components/nav.njk" %}
    <div class="container">
        {% block post %}{% endblock %}
    </div>

    <!--
        Navbar script
    -->
    <script>
        var scrollEventHandler = function() {
            if(scrollY >= 105) {
                if(!document.getElementById("heading-nav-scrolled")) {
                    var head = document.getElementById("heading-nav");
                    var clone = head.cloneNode(true);
                    clone.id = "heading-nav-scrolled";
                    clone.classList.add("slideDown");
                    clone.classList.add("bottom-shadow");
                    document.body.insertBefore(clone, head);
                }
            } else {
                document.getElementById("heading-nav-scrolled").remove();
            }
        }

        window.addEventListener("scroll", scrollEventHandler);
    </script>
{% endblock %}