<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#ffffff" />
        <meta
            name="Jarred Vardy"
            content="Portfolio and Blog of Jarred Vardy"
        />

        <link rel="icon" href="/assets/favicon.ico?" type="image/x-icon" />

        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="/assets/animations.css">

        {% block head %}
        {% endblock %}

        {% if titleOverride %}
            <title>Jarred Vardy{{ " - " + titleOverride }}</title>
        {% else %}
            <title>Jarred Vardy{% block pageTitle %}{% endblock %}</title>
        {% endif %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src={{ browserRefreshURL }}></script>

        <!-- Bottom-right stripes for pazzaz -->
        <div id="footer-stripe-1"></div>
        <div id="stripe-1"></div>
        <div id="footer-stripe-2"></div>
        <div id="stripe-2"></div>
        <div id="footer-stripe-3"></div>
        <div id="stripe-3"></div>
        <div id="footer-stripe-4"></div>
        <div id="stripe-4"></div>
    </body>
</html>